
ProjectPlan/MCSGProjectPlan.aux
ProjectPlan/MCSGProjectPlan.log
ProjectPlan/MCSGProjectPlan.synctex.gz
ProjectPlan/MCSGProjectPlan.toc
ProjectPlan/MCSGProjectPlan.bbl
ProjectPlan/MCSGProjectPlan.bcf
ProjectPlan/MCSGProjectPlan.blg
ProjectPlan/MCSGProjectPlan.run.xml
__pycache__/
*.pyc
